/* Write your CSS here */
.prime-video-img {
  width: 100%;
  height: 300px;
}

.action-movie-container {
}

.movies-container {
  background-color: #231f20;
  padding: 20px;
}

.movie-heading {
  color: white;
}
